/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    perspective: 700px;
    font-family: Roboto-Regular, HelveticaNeue, Arial, sans-serif;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ededed;
} */

.demo6-panels {
    width: 400px;
    height: auto;
    
    perspective: 700px;

    font-family: sans-serif;
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    background: #f3f3f3;
    box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.15);
}

#cardContainer {
    position: relative;
    width: 340px;
    height: 100px;
    /* background: rgb(194, 194, 194); */
    border-radius: 5px;
    transform-origin: bottom;
    margin: 20px;
    cursor: pointer;
}

#first {
    width: 340px;
    height: 100px;
    position: absolute;
    border-radius: 5px;
    color: #000;
    transform-origin: bottom;
    transform-style: preserve-3d;
    transition: 0.5s;
    border-radius: 8px;
    display: flex;
    /* backface-visibility: hidden; */
}

#firstDisplay {
    position: absolute;
    padding: 18px 23px;
    width: 100%;
    height: 100px;

    backface-visibility: hidden;

    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 25px -1px #0000002b;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

@keyframes dots-slidein {
    to {
        transform: translateX(-18px);
    }
    from {
        transform: translateX(0px);
    }
}

#firstTop {
    width: 340px;
    height: 100px;
    position: absolute;
    background: #ffffff;
    backface-visibility: hidden;
    border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 0px #84848426;
    display: flex;
    justify-content: space-around;
}

#firstBehind {
    width: 340px;
    height: 100px;
    position: absolute;
    background: #fff;
    transform-origin: center;
    transform: rotate3d(1, 0, 0, -180deg);
    backface-visibility: hidden;
    border-radius: 8px;
    border: 1px dashed #d1d1d1;
    border-left: none;
    border-right: none;
}

#firstBehind__Display {
    position: absolute;
    padding: 12px 23px;
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: space-between;

    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 11px 25px -1px #0000002b;
}

#second {
    width: 340px;
    height: 50px;
    position: absolute;
    bottom: -2px;
    transform-origin: bottom;
    transform-style: preserve-3d;
    transition: 0.2s;
    border-radius: 8px;
}

#secondTop {
    width: 340px;
    height: 50px;
    position: absolute;
    background: rgb(231, 231, 231);
    backface-visibility: hidden;
    border-radius: 8px;
}

#thirdTop {
    width: 340px;
    height: 50px;
    position: absolute;
    background: rgb(190, 190, 190);
    backface-visibility: hidden;
    border-radius: 8px;
}

/* Second */

#secondBehind {
    width: 340px;
    height: 50px;
    position: absolute;
    background: #fff;
    transform-origin: center;
    transform: rotate3d(1, 0, 0, -180deg);
    backface-visibility: hidden;
    border-radius: 8px;
    border: 1px dashed #d1d1d1;
    border-left: none;
    border-right: none;
}

#secondBehind__Display {
    position: absolute;
    padding: 10px 23px;
    width: 100%;
    height: 50px;

    background: #fff;
    border-radius: 8px;
    border-bottom: 1px dashed #d1d1d1;
    box-shadow: 0px 11px 25px -1px #0000002b;

    display: flex;
    justify-content: space-between;
}

#secondBehind__Bottom {
    width: 340px;
    height: 50px;
    position: absolute;
    background: #fff;
    transform-origin: center;
    transform: rotate3d(1, 0, 0, -180deg);
    backface-visibility: hidden;
    border-radius: 0px 0px 8px 8px;
    border-radius: 8px;
    box-shadow: 0px 11px 25px -1px #0000002b;
}

/* Third */

#third {
    width: 340px;
    height: 50px;
    position: absolute;
    transform-origin: bottom;
    transform-style: preserve-3d;
    transition: 0.2s;
    border-radius: 8px;
}
